.dashboard-container{
    display: flex;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.folders-container{
    width: 100%;
    background: rgb(219,102,126);
    background: linear-gradient(54deg, rgba(219,102,126,1) 6%, rgba(167,16,16,1) 25%, rgba(196,10,134,1) 90%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    color: #FFFFFF;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;

    display: flex;
    flex-direction: column;

    max-width: 300px;
}

.folders-container hr{
    width: 90%;
    opacity: 0.5;
}

.folders-container .info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.credentials-container{
    width: 100%;
}

.credential-detail-container{
    width: 100%;
}

.credential-container{
    box-shadow: rgb(219,102,126) 0px 5px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.credential-container form{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}