.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.login-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-form{
    background: rgb(219,102,126);
    background: linear-gradient(54deg, rgba(219,102,126,1) 6%, rgba(167,16,16,1) 25%, rgba(196,10,134,1) 90%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
    min-height: 500px;
    justify-content: center;

    color: #FFFFFF;
}

.login-logo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}